<!DOCTYPE html>
<html>
<center>
  <head>
    <link href="./style.css" type="text/css" rel="stylesheet">
    <title>Thermostat</title>
  </head>
  <body>
   <script src="jquery.js"></script>
   <script src="interface.js"></script>
   <script src="src/thermostat.js"></script>

    <section>
      <h1 id="temperature"></h1>
      <buttons>
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">reset</button>
        <button id="powersaving-switch">PSM</button>
      </buttons>
      <h1> Current temperature: <span id="current-temperature"></span></h1>
      <select id="current-city">
       <option value="london">London</option>
       <option value="paris">Paris</option>
       <option value="tokyo">Tokyo</option>
     </select>
    </section>
  </body>
</center>
</html>
